* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  padding: 40px 0 40px 8%;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 979px) {
  header {
    width: 90%;
    padding: 40px 10px 40px 20px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1160px) {
  header {
    width: 70%;
  }
}

nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (max-width: 979px) {
  nav {
    margin: 30px auto;
  }
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 979px) {
  ul {
    justify-content: space-evenly;
    width: 87%;
    margin: auto;
  }
}
li {
  font-size: 14px;
  padding: 2px 5px;
  color: #901C1C;
  list-style: none;
  border: solid 1px #525252;
  border-radius: 20px;
  margin: 3px 5px;
}
li:hover {
  color: white;
  background-color: #901C1C;
  border: none;
}
li:focus {
  color: white;
  background-color: #901C1C;
  border: none;
}

.logo {
  height: 3em;
}
@media only screen and (max-width: 979px) {
  .logo {
    width: 50%;
    height: 2em;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1160px) {
  .logo {
    height: 2em;
  }
}
.logo:focus {
  border: 2px solid #901C1C;
  border-radius: 20px;
  padding: 10px;
}

img {
  height: 100%;
}

.mainTitre {
  font-size: 2em;
  color: #901C1C;
  position: absolute;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 40px;
  height: 50px;
}
@media only screen and (max-width: 979px) {
  .mainTitre {
    font-size: 1.2em;
    width: 40%;
    top: 30px;
    right: 1em;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1160px) {
  .mainTitre {
    width: 30%;
    font-size: 1em;
    top: 30px;
  }
}

.lienContenu {
  background-color: #D3573C;
  color: black;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  left: 45%;
  transition: transform 0.3s;
  transform: translateY(-300%);
}
@media only screen and (max-width: 730px) {
  .lienContenu {
    left: 32%;
  }
}
.lienContenu:focus {
  transform: translateY(5%);
  position: sticky;
  top: 5px;
  z-index: 1;
}
.lienContenu--scroll {
  transform: translateY(5%);
  position: sticky;
  top: 5px;
  z-index: 1;
  display: block;
}

section {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 730px) {
  section {
    width: 100%;
  }
}

article {
  width: 33%;
  margin: 30px 0;
}
@media only screen and (max-width: 730px) {
  article {
    width: 100%;
    margin: 10px auto;
  }
}

.photographe {
  width: 250px;
  margin: auto;
}
.photographe__localisation {
  color: #901C1C;
  margin: 10px;
  text-align: center;
  font-size: 12px;
}
.photographe__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: circle(45%);
}
.photographe__catchLine {
  color: black;
  text-align: center;
  margin: 10px;
  font-size: 12px;
}
.photographe__tarif {
  color: #525252;
  text-align: center;
  margin: 10px;
  font-size: 12px;
}
.photographe__tagList {
  width: max-content;
  margin: auto;
}
.photographe__figure {
  margin-bottom: 50px;
  height: 250px;
}
.photographe__figcaption {
  text-align: center;
  font-size: 1.8em;
  color: #D3573C;
}
@media only screen and (max-width: 730px) {
  .photographe {
    width: 70%;
    margin: 10px auto;
  }
}

.lienCard {
  color: #901C1C;
  display: block;
}
.lienCard:focus {
  border: 2px solid #901C1C;
  border-radius: 20px;
  padding: 10px;
}

.photographeInfo {
  width: 80%;
  margin: auto;
  padding: 30px;
  background-color: #FAFAFA;
}
@media only screen and (max-width: 980px) {
  .photographeInfo {
    width: 90%;
    padding: 0;
    background-color: white;
  }
}
.photographeInfo__div {
  display: flex;
  flex-direction: column;
  width: 70%;
}
@media only screen and (max-width: 980px) {
  .photographeInfo__div {
    width: 60%;
  }
}
.photographeInfo__divContact {
  display: flex;
  justify-content: space-between;
  height: max-content;
  width: 70%;
}
@media only screen and (max-width: 980px) {
  .photographeInfo__divContact {
    width: 100%;
  }
}
.photographeInfo__nom {
  font-size: 3em;
  color: #D3573C;
  margin-bottom: 10px;
}
@media only screen and (max-width: 980px) {
  .photographeInfo__nom {
    font-size: 2em;
    margin-bottom: 5px;
  }
}
.photographeInfo__button {
  padding: 10px;
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.photographeInfo__button:focus {
  color: black;
  background-color: #D3573C;
}
.photographeInfo__button:hover {
  color: black;
  background-color: #D3573C;
}
@media only screen and (max-width: 980px) {
  .photographeInfo__button {
    display: none;
  }
}
.photographeInfo__localisation {
  font-size: 1.5em;
  color: #901C1C;
  margin-bottom: 20px;
}
@media only screen and (max-width: 980px) {
  .photographeInfo__localisation {
    font-size: 1em;
    margin-bottom: 10px;
  }
}
.photographeInfo__catchLine {
  font-size: 1.2em;
  color: #525252;
  margin-bottom: 20px;
}
@media only screen and (max-width: 980px) {
  .photographeInfo__catchLine {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
}
.photographeInfo__tagList {
  width: max-content;
}
@media only screen and (max-width: 980px) {
  .photographeInfo__tagList {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 980px) {
  .photographeInfo__tag {
    font-size: 12px;
    margin: 0 2px;
  }
}
.photographeInfo__figure {
  height: 200px;
  width: 200px;
}
@media only screen and (max-width: 980px) {
  .photographeInfo__figure {
    height: 100px;
    width: 100px;
  }
}
.photographeInfo__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: circle(50%);
}

.photographies {
  width: 85%;
  margin: 40px auto 0;
}
.photographies__liste {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.photographies__figure {
  display: flex;
  justify-content: center;
  width: 33.33%;
  margin: 0 0 30px 0;
}
@media only screen and (max-width: 980px) {
  .photographies__figure {
    width: 100%;
    margin: 0;
  }
}
.photographies__card {
  height: 20em;
  width: 20em;
}
@media only screen and (max-width: 980px) {
  .photographies__card {
    height: 15em;
    width: 100%;
  }
}
.photographies__img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
@media only screen and (max-width: 980px) {
  .photographies__img {
    object-position: 50% 20%;
    height: 85%;
  }
}
.photographies__img:focus {
  border: 2px solid #901C1C;
  border-radius: 20px;
  padding: 10px;
}
.photographies__legende {
  font-size: 1.5em;
  color: #901C1C;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 980px) {
  .photographies__legende {
    font-size: 1.2em;
  }
}
.photographies__likes {
  display: flex;
}
.photographies__likes__button {
  color: #901C1C;
  font-size: 1em;
  border: none;
  background-color: white;
}
.photographies__likes__button:focus {
  border: 2px solid #901C1C;
  border-radius: 20px;
  padding: 10px;
}
.photographies__likes--inactive {
  display: none;
}
.photographies__likes--inactive:focus {
  border: 2px solid #901C1C;
  border-radius: 20px;
  padding: 10px;
}

.fa-heart {
  font-size: 1em;
}

.trier {
  width: 100%;
  margin-bottom: 40px;
}
.trier__text {
  font-weight: bold;
  margin-right: 1%;
}
.trier__select {
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 1em;
}
@media only screen and (max-width: 980px) {
  .trier {
    display: none;
  }
}

.aside {
  position: sticky;
  left: 85%;
  bottom: 0;
  background-color: #D3573C;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 11em;
}
.aside__likes {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
@media only screen and (max-width: 980px) {
  .aside {
    display: none;
  }
}

.asideButton {
  position: sticky;
  bottom: 20px;
  left: 30%;
  background-color: #901C1C;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (min-width: 981px) {
  .asideButton {
    display: none;
  }
}

.backgroundModal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(104, 105, 112, 0.4);
}

.modalContact {
  border-radius: 5px;
  width: 30%;
  margin: auto;
  background-color: #D3573C;
  position: relative;
}
@media only screen and (max-width: 980px) {
  .modalContact {
    width: 100%;
    height: 100%;
  }
}
.modalContact__titre {
  font-size: 1.5em;
}
@media only screen and (max-width: 980px) {
  .modalContact__titre {
    font-size: 1.2em;
  }
}
.modalContact__croix {
  position: absolute;
  top: 15px;
  right: 30px;
  background-color: #D3573C;
  border: none;
  color: white;
  font-size: 1.5em;
}
@media only screen and (max-width: 980px) {
  .modalContact__croix {
    font-size: 1.2em;
  }
}
.modalContact__body {
  padding: 15px 8%;
  margin: 15% auto;
  font-size: 2em;
}
@media only screen and (max-width: 980px) {
  .modalContact__body {
    margin: 0;
  }
}
.modalContact__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.modalContact__message {
  height: 120px;
}
@media only screen and (max-width: 980px) {
  .modalContact__message {
    height: 250px;
  }
}
.modalContact__buttonSubmit {
  margin: 20px 0;
  padding: 20px 40px;
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.lightbox {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  transition: opacity 0.3s;
}
.lightbox__loader {
  height: 40px;
  width: 40px;
  opacity: 0.5;
  background: url(asset/images/loader.svg) center center no-repeat;
}
.lightbox__fadeOut {
  opacity: 0;
}
.lightbox__contenu {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.lightbox__contenu__fleche {
  font-size: 3em;
  color: #901C1C;
}
.lightbox__contenu__figure {
  width: 50em;
  height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lightbox__contenu__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lightbox__contenu__figcaption {
  font-size: 1.5em;
  color: #901C1C;
}
.lightbox__contenu__croix {
  position: absolute;
  top: 0%;
  right: 0%;
  border: none;
  color: #901C1C;
  background-color: white;
  font-size: 3em;
}